// Mixins
apply-contrast-sidebar-images(foreground fileSuffix) {
    .a11y-site-aside {
        background-image: url("./images/sidebar-graphic-"+fileSuffix+"-01.svg");
    }

    .a11y-site-footer {
        border-top: 0.2rem solid foreground;
        background-image: url("./images/sidebar-graphic-"+fileSuffix+"-02.svg");
    }
}

apply-contrast-tagline-background(fileSuffix) {
    .a11y-site-tagline {
        background: url("./images/logo-"+fileSuffix+".svg");
        background-position: 83% 3.6rem;
        background-size: 14% auto;
        background-repeat: no-repeat;
    }
}

apply-contrast-colours(foreground background fileSuffix) {
    #corner-flourish {
        fill: foreground;
        background-color: initial !important;
    }

    #ontario-logo {
        fill: foreground;
    }

    a:hover {
        color: background !important;
        background-color: foreground !important;
    }

    a:focus {
        outline: 0.2rem solid foreground !important;
    }

    .a11y-site {
        border: 0.2rem solid foreground;
    }

    .a11y-site-tagline {
        text-shadow: none;
        background: none;
    }

    .a11y-panel-container {
        background: foreground !important;
    }

    .a11y-site-aside {
        border-top: 1.6rem solid background !important;
    }

    .a11y-site-header {
        border-bottom: 0.2rem solid foreground;
        h1 a {
            background-image: url("./images/logo-"+fileSuffix+".svg");
        }
    }

    .a11y-site-footer {
        border-top: 0.2rem solid;
        p {
            background: none !important;
        }
    }
}


/* Contrast Themes */
.fl-theme-wb {
    apply-contrast-colours (#fff #000 "WHITE");
}

.fl-theme-bw {
    apply-contrast-colours (#000 #fff "GREY");
}

.fl-theme-yb {
    apply-contrast-colours (#ff0 #000 "YELLOW");
}

.fl-theme-by {
    apply-contrast-colours (#000 #ff0 "GREY");
}

.fl-theme-lgdg {
    apply-contrast-colours (#bdbdbb #555 "WHITE");
}

/* Styles for Medium resolution and larger */
@media screen and (min-width: 40em) {
    .fl-theme-wb {
          apply-contrast-sidebar-images (#fff "WHITE");
      }

      .fl-theme-bw {
          apply-contrast-sidebar-images (#000 "GREY");
      }

      .fl-theme-yb {
          apply-contrast-sidebar-images (#ff0 "YELLOW");
      }

      .fl-theme-by {
          apply-contrast-sidebar-images (#000 "GREY");
      }

      .fl-theme-lgdg {
          apply-contrast-sidebar-images (#bdbdbb "WHITE");
      }
}

/* Large screens and bigger */
@media screen and (min-width: 64em) {
    .fl-theme-wb {
          apply-contrast-tagline-background ("WHITE");
      }

      .fl-theme-bw {
          apply-contrast-tagline-background ("GREY");
      }

      .fl-theme-yb {
          apply-contrast-tagline-background ("YELLOW");
      }

      .fl-theme-by {
          apply-contrast-tagline-background ("GREY");
      }

      .fl-theme-lgdg {
          apply-contrast-tagline-background ("WHITE");
      }
}
